body {
  margin: 0;
  font-family: Lato;
  background-color: #F5F5F5;
}

.sidenav {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    margin:0;
    overflow-x: hidden;
    padding: 15% 5% 5% 5%;
    background-color: white;
}

main {
  margin-left: 40%; /* Same as the width of the sidenav */
  padding: 5% 5% 5% 5%;
  overflow-x: hidden;
}

nav {
  font-size: 24px;
}

h1 {
  display: inline;
  font-size: 24px;
}

h1.a {
  font-size: 48px;
  font-weight: bold;
  /*background-color: #ffce99;*/
}
/*h1.b {
  background-color: #ccf3ff;
}
h1.c {
  background-color: #b3ffe0;
}
h1.d {
  background-color: #ccccff;
}
h1.e {
  background-color: pink;
}*/
.chris-background {
  padding: 20px 0px 20px 0px;
}

.section {
  text-align: left;
  height: 100vh;
}

.center {
  text-align: center;
}

#announcement {
  padding: 20px 0px 0px 0px;
  font-size: 18px;
}

#book {
  padding: 40px 0px 40px 0px;
}

#book-img {
    width: 60%;
    height: 30%;
}

ul {
  list-style-type: circle;
  font-size: 16px;
  margin-top: 8px;
  padding-left: 18px;
}

a {
  color: #3366ff;
}

a:hover {
  text-decoration: none;
}

.fa {
  color: black;
  text-decoration: none;
  padding-right: 20px;
}

.fa:hover {
    opacity: 0.5;
}

/*@media (min-width: 992px) {
    .section {
      width: 60%;
    }
    #book-img {
      width: 30%;
      height: 20%;
    }
}*/
