/**
#577399
#23395B
#BDD5EA
#F7F7FF
#FE5F55
*/
html {
    overflow: hidden;
    height: 100%;
}
body {
    background-color: white;
    font-family: Lato;
    font-weight: 400;
    margin: 0;
    height: 100%;
    overflow: auto;
}
main {
    margin-top: 20px;
    background-color: #F7F7FF;
}

p {
    font-size: 24px;
    font-weight: 300;
}

/** Title Heading **/
h1 {
    font-size: 100px;
    color: black;
    width: 85vw;
    height: 60vh;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    font-weight: 300;
}

/** Section Headings **/
h2 {
    font-size: 50px;
    color: black;
    text-align: left;
    height: 20px;
    font-family: Verdana;
}

footer {
    padding: 20px 20px 30px 20px;
    font-family: 'Lato';
    text-align: center;
}

/**
hr {
    width: 20%;
    size: 1px;
    color: black;
    margin-bottom: 40px;
}**/
marquee {
    overflow: hidden;
    color: white;
    background-color: #23395B;
    height: 20px;
}

.sticky {
  position: fixed;
  top: 0;
}

.page {
    padding: 30px 100px 10px 100px;
    color: black;
}

#text-block {
    padding: 30px;
}

#title {
    height: 100vh;
    background: #F7F7FF;
}

#title-block {
    background-color: #BDD5EA;
    font-family: "Lato";
    margin-top: 15vh;
    width: 85vw;
    height: 60vh;
    float: left;
}

#accent-block {
    background-color: #23395B;
    margin-left: 70vw;
    height: 100vh;
}

#two {
    color: black;
}

#three {
    color: black;
}

#four {
    color: black;
}

#five {
    color: black;
}

a {
    text-decoration: none;
    color: #577399;
}

a:hover {
    color: #FE5F55;
}

/*.underline {
    border-bottom: 1px solid currentColor;
}*/

.underline:hover {
    color: blue;
}

.location {
    font-size: 32px;
    color: royalblue;
    height: 10px;
}

.description {
    font-size: 24px;
    color: darkgreen;
}


/**Social Media**/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: purple;
    color: white;
}

.fa-envelope {
    background: #cb2027;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-medium {
    background: #009000;
    color: white;
}

.fa-soundcloud {
    background: darkorange;
    color: white;
}
